services:
  web:
    restart: always
    container_name: web
    depends_on:
      - postgres
    build: .
    ports:
      - "8000:8000"
      - "5555:5555" # port for prisma studio
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
  postgres:
    container_name: postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql #postgres 18 does not require /data anymore

volumes:
  pg_data:

networks:
  backend:
    driver: bridge
